<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="Bandman"
                      transaction-type="RESOURCE_LOCAL">
        <class>ch.shire.bandman.entity.Inventory</class>
        <class>ch.shire.bandman.entity.Asset</class>
        <class>ch.shire.bandman.entity.Shopping</class>
        <class>ch.shire.bandman.entity.ToDo</class>
        <class>ch.shire.bandman.entity.Booking</class>
        <class>ch.shire.bandman.entity.Expense</class>
    </persistence-unit>
</persistence>
